{% extends 'home/base_blank.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block content %}
<h1>Thông Tin Sách</h1>
<br><br>
<div class="content_main detail_book">
    <div class="big_book">
        <img src="/home/media/{{ds.biaSach}}">
    </div>
    <div class="info_detail_big">
        <div class="name_info">
            <h1>{{ds.tenSach}}</h1>
        </div>
        <div class="author"><span>Mã Sách:</span> <b>{{ds.maSach}}</b></div>
        <div class="author"><span>Tác giả:</span> <b>{{ds.tenTG}}</b></div>
        <div class="author"><span>Loại sách:</span> <b>{{ds.loaiSach}}</b></div>
        <div class="author"><span>Nhà Xuất Bản:</span> <b>{{ds.nhaXB}}</b></div>
        <div class="author"><span>Năm Xuất Bản:</span> <b>{{ds.namXB}}</b></div>

        {% if ds.trangThaiSach %}
        <div class="author"><span>Trạng Thái:</span> <b>Đã được mượn</b></div>
        {% else %}
        <div class="author"><span>Trạng Thái:</span> <b>Có thể mượn</b></div>
        {% endif %}

    </div>
    <div class="box_text_details">

        <p><strong></p>

        <p></p>

    </div>
</div>
</div>
</div>

</div>
<div style="clear: both;"></div>
{% endblock %}