{% extends 'home/base_PMS.html' %}

{% block content %} 
<h1>Danh Sách Phiếu Mượn Sách</h1>
<table border="1" class="analytics_table">
    {% if ds%}
    <thead>
        <tr>
            <th>Mã đọc giả</th>
            <th>Mã Sách</th>
            <th>Ngày mượn</th>
            <th>Ngày hẹn trả </th>
            <th>Ngày trả</th>
            <th>Trạng thái</th>
        </tr>

    </thead>
            
    <tbody>
        {% for x in ds%}
        <tr>
            <td>{{x.maDG}} </td>
            <td>{{x.maSach}}</td>
            <td>{{x.ngayMuon|date:"d-m-Y"}}</td>
            <td>{{x.ngayHenTra|date:"d-m-Y"}}</td>
            <td>{{x.ngayTra|date:"d-m-Y"}}</td>
            {% if x.trangThai %}
                    <td>Đã hoàn thành</td> 
            {% else %}
                    <td>Chưa hoàn thành</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
        <h3>Không có dữ liệu nào</h3>
    {% endif %}
</table>
        
 {% endblock %}