{% extends 'home/base_PMS.html' %}

{% block content %} 
<!--
<script>
    function formatDate()
    {
        const options = { day: "numeric", month: "long", year: "numeric" };
        date_collection = document.getElementsByClassName('date');
        for(var i = 0; i< date_collection.length; i++)
        {
            var datetime = new Date(Date.parse(date_collection[i].innerHTML));
            alert(datetime);
            const americanDate = new Intl.DateTimeFormat("en-US", options).format(datetime);
            date_collection[i].innerText = americanDate;
            date_collection[i].setAttribute("time",datetime);
        }
    }
    </script>
-->


<form id="ts_form" action="/home/TraSach/" method="post">
    {% csrf_token %}
    
    
    <label for="">Nhập mã đọc giả</label><br>{{form.maDG}}<br>

    <label for="">Nhập mã sách</label><br> {{form.maSach}}<br>

    <label for="">Nhập ngày trả</label><br>{{form.ngayTra}}
    
    <br><br>
    <input class="btn btn-primary" type="submit" name="dangki" value="Đăng Kí Trả Sách">
    <br><br>
    <h1>Danh Sách Phiếu Mượn Sách</h1>
<table border="1" class="analytics_table"  >
    {% if ds%}
         <thead>
             <tr>
                <th>Mã đọc giả</th>
                <th>Mã Sách</th>
                <th>Ngày mượn</th>
                <th>Ngày hẹn trả </th>
                <th>Ngày trả</th>
                <th>Trạng thái</th>
             </tr>
        </thead>
        {% for x in ds%}
        <tr>
            <td>{{x.maDG}} </td>
            <td>{{x.maSach}}</td>
            <td type="datetime" class="date">{{x.ngayMuon|date:"SHORT_DATE_FORMAT"}}</td>
            <td type="datetime" class="date">{{x.ngayHenTra|date:"SHORT_DATE_FORMAT"}}</td>
            <td type="datetime" class="date">{{x.ngayTra|date:"SHORT_DATE_FORMAT"}}</td>
            {% if x.trangThai %}
                    <td>Đã hoàn thành</td> 
            {% else %}
                    <td>Chưa hoàn thành</td>
            {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <h3>Không có dữ liệu nào</h3> 
    {% endif %}
 
</table>

</form>

{% endblock %}
{% block javascript %}
<script>
$("#ts_form").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault(); 
    $.ajax({
        type: 'POST',
        url: "{% url 'traSach' %}",
        data: {
            "maDG": $("#id_maDG").val(),
            "maSach":$("#id_maSach").val(),
            "ngayTra" : $("#id_ngayTra").val(),
             csrfmiddlewaretoken : $('input[name = csrfmiddlewaretoken]').val(),

        },
        success: function (response) {
            // on successfull creating object
            if(response["valid"]){
                if(response.mess == 1){
                    alert("Ngày trả bạn nhập không hợp lệ");
                }
                else{
                    alert("Đăng kí trả sách thành công");
                    $("#ts_form").trigger('reset');   
                }
            }
            else{
                alert("Không tìm thấy phiếu mượn sách (Kiểm tra lại mã sách hoặc mã sinh viên)");
            }
            
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["error"]);
        }
    })
})
</script>
{% endblock %}

