{% extends 'home/base_PMS.html' %}

{% block content %} 
<!--
<script>
    function formatDate()
    {
        const options = { day: "numeric", month: "long", year: "numeric" };
        date_collection = document.getElementsByClassName('date');
        for(var i = 0; i< date_collection.length; i++)
        {
            var datetime = new Date(Date.parse(date_collection[i].innerHTML));
            alert(datetime);
            const americanDate = new Intl.DateTimeFormat("en-US", options).format(datetime);
            date_collection[i].innerText = americanDate;
            date_collection[i].setAttribute("time",datetime);
        }
    }
    </script>
-->
<h1>Thông Tin Phiếu Mượn</h1><br>
<h6>Mã đọc giả:  <p style="display: inline;" name="maDG" id="id_maDG">{{data.maDG}}</p></h6>
<h6>Mã sách:  <p style="display: inline;" name="maSach" id="id_maSach">{{data.maSach}}</p></h6>
<h6>Ngày mượn sách:  <p style="display: inline;" name="ngayMuon" id="id_ngayMuon">{{data.ngayMuon|date:"d-m-Y"}}</p></h6>
<h6>Ngày hẹn trả:  <p style="display: inline;" name="ngayHenTra" id="id_ngayHenTra">{{data.ngayHenTra|date:"d-m-Y"}}</p></h6>


<form id="ts_form" action="/home/TraSach/" method="post">
    {% csrf_token %}
    
    <h6><label for="">Nhập ngày trả</label></h6><input type="date" name="ngayTra" class="vDateField" style="font-family: SANS-SERIF;
    font-size: x-lrge;" id="id_ngayTra">
    <br><br>
    <input class="btn btn-primary" type="submit" name="dangki" value="Đăng Kí Trả Sách">
    <br><br>
   
</form>

{% endblock %}
{% block javascript %}
<script>
$("#ts_form").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault(); 
    $.ajax({
        type: 'POST',
        url: "{% url 'traSach' %}",
        data: {
            "maDG": $("#id_maDG").text(),
            "maSach":$("#id_maSach").text(),
            "ngayTra" : $("#id_ngayTra").val(),
             csrfmiddlewaretoken : $('input[name = csrfmiddlewaretoken]').val(),

        },
        success: function (response) {
            // on successfull creating object
            if(response["valid"]){
                if(response.mess == 1){
                    alert("Ngày trả bạn nhập không hợp lệ");
                }
                else if(response.mess == 2){
                    alert("Trả sách muộn!!");
                    alert("Đăng kí trả sách thành công");
                    $("#ts_form").trigger('reset');   
                   
                }
                else {
                    alert("Đăng kí trả sách thành công");
                    $("#ts_form").trigger('reset');  
                    
                }
            }
            else{
                alert("Không tìm thấy phiếu mượn sách (Kiểm tra lại mã sách hoặc mã sinh viên)");
            }
            
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["error"]);
        }
    })
})
</script>
{% endblock %}

