{% extends 'home/base_bookManager.html' %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->

{% block content %} 
<h1>Thêm thông tin sách</h1>
<form id="sach-form" action="/home/AddSach/" method="post" enctype="multipart/form-data"  >
    {% csrf_token %}
    
    <label for="">Nhập mã sách</label><br>{{form.maSach}}<br>
    
    <label for="">Nhập tên sách</label><br> {{form.tenSach}}<br>
    
    <label for="">Nhập loại sách</label><br>{{form.loaiSach}}<br>

    <label for="">Nhập tác giả</label><br>{{form.tenTG}}<br>

    <label for="">Nhập nhà xuất bản</label><br>{{form.nhaXB}}<br>

    <label for="">Nhập năm xuất bản</label><br>{{form.namXB}}<br>

    <label for="">Thêm hình ảnh cho sách</label><br>{{form.biaSach}}<br><br>

    

    <input  class="btn btn-primary" type="submit" name="dangki" value="Thêm Sách">
</form>
<br>
{% endblock %}
{% block javascript %}

<script>
    $("#sach-form").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault(); 
    var serializedData = $(this).serialize();
    if (window.FormData) {
        formData = new FormData();
        formData.append('maSach',$("#id_maSach").val());
        formData.append('tenSach',$("#id_tenSach").val());
        formData.append('loaiSach',$("#id_loaiSach").val());
        formData.append('tenTG',$("#id_tenTG").val());
        formData.append('nhaXB',$("#id_nhaXB").val());
        formData.append('namXB',$("#id_namXB").val());
        
        formData.append( 'csrfmiddlewaretoken' , $('input[name = csrfmiddlewaretoken]').val());
        formData.append('biaSach', $('input[type=file]')[0].files[0]);
    }
    $.ajax({
        type: 'POST',
        url: "{% url 'saveSach' %}",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
            // on successfull creating object
            if(!response["valid"]){
                    alert("Thêm sách thành công");
            // 1. clear the form.
            $("#sach-form").trigger('reset');
            // 2. focus to nickname input 
            $("#id_maSach").focus();

            // display the newly friend to table.
            }
            
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
        }
    })
}) 

$("#id_maSach").focusout(function (e) {
    e.preventDefault();
    // get the nickname
    var maSach = $(this).val();
    // GET AJAX request
    $.ajax({
        type: 'GET',
        url: "{% url 'validate_sach' %}",
        data: {"maSach": maSach },
        success: function (response) {
            // if not valid user, alert the user
            if(!response["valid"]){
                alert("Mã sách bạn nhập đã tồn tại");
                var maSach = $("#id_maSach");
                maSach.val("")
                maSach.focus()
            }
        },
        error: function (response) {
            console.log(response)
        }
    })
})
</script>
{% endblock %}

