{% extends 'home/base.html' %}

{% block content %} 
<h1>Change Password</h1>
<form action="/home/ChangePassword/" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary">Change Password</button>
</form>
<br>
<ul>
   <li>Mật khẩu của bạn không được quá giống với thông tin cá nhân khác của bạn.</li>
   <li>Mật khẩu của bạn phải chứa ít nhất 8 ký tự.</li> 
   <li>Mật khẩu của bạn không được là mật khẩu thường dùng.</li> 
   <li>Mật khẩu của bạn không được hoàn toàn bằng số.</li> 
</ul>
{% endblock %}
