{% extends 'home/base_bookManager.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block content %} 
<form action="/home/DeleteSach/" method="post">
    {% csrf_token %}
    <label for="">Nhập mã sách</label><br>{{form.maSach}}<br>
    <input class="btn"  type="submit" name="Xóa" value="Xóa">
</form>
    <br><br>
    <h1></h1>
<table border="1" class="analytics_table">
    {% if ds%}
    <thead>
        <tr>
            <th>Mã Sách</th>
            <th>Tên Sách </th>
            <th>Loại Sách</th>
            <th>Tác Giả</th>
            <th>Nhà xuất bản</th>
            <th>Năm xuất bản</th>
            <th>Trạng thái</th>
            <th>Xóa dữ liệu</th>
        </tr>
    </thead>
    <tbody>
        {% for x in ds%}
        <tr class="record">
            <td>{{x.maSach}}</td>
            <td>{{x.tenSach}} </td>
            <td>{{x.tenTG}}</td> 
            <td> {{x.loaiSach}}</td>
            <td>{{x.nhaXB}} </td>
            <td> {{x.namXB}}</td>
             {% if x.trangThaiSach %}
                <td>Không thể mượn</td> 
             {% else %}
                <td>Có thể mượn</td>
             {% endif %}
            <td><a href="/home/delete_S/{{ x.id }}" method="post" class="delete_s"><button  class="btn btn-primary" style="padding:8px 12px ;" >Xóa</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
        <h3>Không có dữ liệu nào</h3>
    {% endif %}
    
</table>
{% endblock %}
{% block javascript %}
<script>
    $(".delete_s").on("click", function (e) {
        e.preventDefault();
        // get the nickname
        var $this = $(this);
        // GET AJAX request
        if (confirm("Xóa bản ghi?")){
            $.ajax({
                url: $this.attr("href"),
                type : "GET",
                dataType: "json",
                success: function(response){
                    if (response.mess == 'success'){
                        $this.parents('.record').fadeOut("slow",function(){
                            $this.parents('.record').remove();
                        });
                    }
                    else{
                        alert(response.mess);
                    }
                },
                error: function(response){
                    console.log("ERROR!!!");
                },
            })
       
        }
    })

    $("#id_maSach").focusout(function (e) {
        e.preventDefault();
        // get the nickname
        var maSach = $(this).val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'validate_sach' %}",
            data: {"maSach": maSach },
            success: function (response) {
                // if not valid user, alert the user
                if(response["valid"]){
                    alert("Mã sách bạn nhập không tồn tại");
                    var maDG = $("#id_maSach");
                    maDG.val("")
                    
                }
            },
            error: function (response) {
                console.log(response)
            }
        })
    })
</script>
{% endblock %}