{% extends 'home/base_PMS2.html' %}

{% block content %} 
<h2>Đăng Kí Mượn Sách </h2>
<form id="pms_form" action="/home/AddPhieuMuonSach/" method="post">
    {% csrf_token %}
    
    
    <label for="">Nhập mã đọc giả</label><br>{{form.maDG}}<br>

    
    <label for="">Nhập mã sách</label><br> {{form.maSach}}<br>
    
    <label for="">Nhập ngày hẹn trả(tháng /ngày/năm)</label><br>{{form.ngayHenTra}}<br>
    <br>

    <input  class="btn btn-primary" type="submit" name="dangki" value="Đăng Kí"><br>
</form><br>


{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
{% block javascript %} 
<script>
    $("#id_maSach").focusin(function (e) {
        e.preventDefault();
        // get the nickname
        var maDG = $("#id_maDG").val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'validate_nickname' %}",
            data: {"maDG": maDG },
            success: function (response) {
                // if not valid user, alert the user
                if(response["valid"]){
                    alert("Mã đọc giả bạn nhập không tồn tại");
                    var maDG1 = $("#id_maDG");
                    maDG1.val("");
                    maDG1.focus();
                    
                }
            },
            error: function (response) {
                console.log(response)
            }
        })
    })
$("#id_ngayHenTra").focusin(function (e) {
    e.preventDefault();
    // get the nickname
    var maSach = $("#id_maSach").val();
    // GET AJAX request
    $.ajax({
        type: 'POST',
        url: "{% url 'validate_sach2' %}",
        data: {"maSach": maSach,
        csrfmiddlewaretoken : $('input[name = csrfmiddlewaretoken]').val()
     },
        success: function (response) {
            // if not valid user, alert the user
            if(!response["valid"]){
                alert("Mã sách bạn nhập không tồn tại");
                var maSach1 = $("#id_maSach");
                maSach1.val("");
                maSach1.focus();
            }
            else{
                if(response.mess == 1){
                    alert("Sách đã được mượn");
                    var maSach1 = $("#id_maSach");
                    maSach1.val("");
                    maSach1.focus();

                }                
            }

        },
        error: function (response) {
            console.log(response)
        }
    })
})
$("#pms_form").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault(); 
    var serializedData = $(this).serialize();
    /* if (window.FormData) {
        formData = new FormData();
        formData.append('maDG',$("#id_maDG").val());
        formData.append('maSach',$("#id_maSach").val());
        formData.append('ngayMuon',$("#id_ngayMuon").val());
        formData.append('ngayHenTra',$("#id_ngayHenTra").val());
        formData.append('created_by',);

        formData.append( 'csrfmiddlewaretoken' , $('input[name = csrfmiddlewaretoken]').val());
        
    } */
                
    $.ajax({
        type: 'POST',
        url: "{% url 'AddPMS_DG' %}",
        data: {
        "maSach": $("#id_maSach").val(),
        'maDG' : $("#id_maDG").val(),
        'ngayHenTra':$("#id_ngayHenTra").val(),
        csrfmiddlewaretoken : $('input[name = csrfmiddlewaretoken]').val(),
},
        success: function (response) {
            // on successfull creating object
            if(!response["valid"]){
                    alert("Đăng kí mượn sách  thành công");
            // 1. clear the form.
            $("#pms_form").trigger('reset');
            // display the newly friend to table.
            }
            else{
                alert("Ngày hẹn trả bạn nhập không hợp lệ");
            }
            
        },
        error: function (response) {
            // alert the error if any error occured
            
        }
    })
})
</script>
{% endblock %}