{% extends 'home/base.html' %}

{% block content %} 
<!--
<script>
    function formatDate()
    {
        const options = { day: "numeric", month: "long", year: "numeric" };
        date_collection = document.getElementsByClassName('date');
        for(var i = 0; i< date_collection.length; i++)
        {
            var datetime = new Date(Date.parse(date_collection[i].innerHTML));
            alert(datetime);
            const americanDate = new Intl.DateTimeFormat("en-US", options).format(datetime);
            date_collection[i].innerText = americanDate;
            date_collection[i].setAttribute("time",datetime);
        }
    }
    </script>
-->


<form id="ts_form" action="/home/TraSach/" method="post">
    {% csrf_token %}
    
    
    <label for="">Nhập mã đọc giả</label><br>{{form.maDG}}<br>

    <label for="">Nhập mã sách</label><br> {{form.maSach}}<br>

    <label for="">Nhập ngày trả</label><br>{{form.ngayTra}}
    
    <br><br>
    <input class="btn btn-primary" type="submit" name="dangki" value="Đăng Kí Trả Sách">
    <br><br>
    <h1>Danh Sách Phiếu Mượn Sách</h1>
<table border="1" class="table table-striped table-sm">
    {% if ds%}
            <td style="color:red;">Mã đọc giả</td>
            <td style="color:red;">Mã Sách</td>
            <td style="color:red;">Ngày mượn</td>
            <td style="color:red;">Ngày hẹn trả </td>
            <td style="color:red;">Ngày trả</td>
            <td style="color:red;">Trạng thái</td>

        {% for x in ds%}
        <tr>
            <td style="color:red;">{{x.maDG}} </td>
            <td style="color:red;">{{x.maSach}}</td>
            <td style="color:red;" type="datetime" class="date">{{x.ngayMuon|date:"SHORT_DATE_FORMAT"}}</td>
            <td style="color:red;" type="datetime" class="date">{{x.ngayHenTra|date:"SHORT_DATE_FORMAT"}}</td>
            <td style="color:red;" type="datetime" class="date">{{x.ngayTra|date:"SHORT_DATE_FORMAT"}}</td>
            {% if x.trangThai %}
                    <td style="color:red;">Đã hoàn thành</td> 
            {% else %}
                    <td style="color:red;">Chưa hoàn thành</td>
            {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <h3 style="color:red;">Không có dữ liệu nào</h3> 
    {% endif %}
 
</table>

</form>

{% endblock %}
{% block javascript %}
<script>
$("#ts_form").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault(); 
    var serializedData = $(this).serialize();
    $.ajax({
        type: 'POST',
        url: "{% url 'traSach' %}",
        data: serializedData,
        success: function (response) {
            // on successfull creating object
            if(response["valid"]){
                if(response.mess == 1){
                    alert("Ngày trả bạn nhập không hợp lệ");
                }
                else{
                    alert("Đăng kí trả sách thành công");
                    $("#ts_form").trigger('reset');   
                }
            }
            else{
                alert("Không tìm thấy phiếu mượn sách (Kiểm tra lại mã sách hoặc mã sinh viên)");
            }
            
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
        }
    })
})
</script>
{% endblock %}

