{% extends 'home/base_bookManager.html' %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
{% block content %} 
<form action="/home/AlterSach/" method="post" id="sach-form">
    {% csrf_token %}
    <h1>Cập nhật thông tin sách</h1>
    <label for="">Nhập mã sách cần cập nhật</label><br><input type="text" name="maSach" maxlength="50" required id="id_maSach"><br>
    <h2>Cập nhật các trường thông tin sách bạn muốn thay đổi</h2>
    <label for="">Nhập tên sách</label><br>  <input type="text" name="tenSach" maxlength="100"  id="id_tenSach"><br>
    
    <label for="">Nhập loại sách</label><br><input type="text" name="loaiSach" maxlength="50" id="id_loaiSach"><br>

    <label for="">Nhập tác giả</label><br><input type="text" name="tenTG" maxlength="100" id="id_tenTG"><br>

    <label for="">Nhập nhà xuất bản</label><br><input type="text" name="nhaXB" maxlength="100"  id="id_nhaXB"><br>

    <label for="">Nhập năm xuất bản</label><br><input type="number" name="namXB" id="id_namXB"><br>

    <label for="">Trạng thái sách </label><br><select style="width: 180px;" name="trangThaiSach" id="id_trangThaiSach">
        <option value="0" selected>Có thể mượn</option>
      
        <option value="1">Đã được mượn</option>
      
        
      
      </select><br>

      <label for="">Cập nhật hình ảnh sách</label><br><input type="file" name="biaSach" accept="image/*" id="id_biaSach"><br>
      <br>
    <input class="btn btn-primary" type="submit" name="dangki" value="Cập nhật">
</form>
<br> 
{% endblock %}
{% block javascript %}

<script>

     $("#sach-form").submit(function (e) {
    // preventing from page reload and default actions
    e.preventDefault(); 
    if (window.FormData) {
        formData = new FormData();
        formData.append('maSach',$("#id_maSach").val());
        formData.append('tenSach',$("#id_tenSach").val());
        formData.append('loaiSach',$("#id_loaiSach").val());
        formData.append('tenTG',$("#id_tenTG").val());
        formData.append('nhaXB',$("#id_nhaXB").val());
        formData.append('namXB',$("#id_namXB").val());
        formData.append('trangThaiSach',$("#id_trangThaiSach").val());
        formData.append( 'csrfmiddlewaretoken' , $('input[name = csrfmiddlewaretoken]').val());
        formData.append('biaSach', $('input[type=file]')[0].files[0]);
    }
    $.ajax({
        type: 'POST',
        url: "{% url 'alterSach' %}",
        data: formData , 
        processData: false,
        contentType: false,

        success: function (response) {
            if(!response["valid"]){
                alert("Mã sách bạn nhập không tồn tại");
            }
            else {
                alert("Cập nhật thông tin sách thành công");
            }
            
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
            
        }
    })
}) 
$("#id_maSach").focusout(function (e) {
    e.preventDefault();
    // get the nickname
    var maSach = $(this).val();
    // GET AJAX request
    $.ajax({
        type: 'GET',
        url: "{% url 'validate_sach' %}",
        data: {"maSach": maSach },
        success: function (response) {
            // if not valid user, alert the user
            if(response["valid"]){
                alert("Mã sách bạn nhập không tồn tại");
                
            }
        },
        error: function (response) {
            console.log(response)
        }
    })
})

</script>
{% endblock %}