{% extends 'home/base.html' %}

{% block content %} 
<h1>Danh Sach Sach Trong Thu Vien</h1>
<table border="1" class="table table-striped table-sm">
    {% if ds%}
            <td style="color:red;">Mã Sách</td>
            <td style="color:red;">Tên Sách </td>
            <td style="color:red;">Loại Sách</td>
            <td style="color:red;">Tác Giả</td>
            <td style="color:red;">Nhà xuất bản</td>
            <td style="color:red;">Năm xuất bản</td>
            <td style="color:red;">Trạng thái</td>

        {% for x in ds%}
        <tr>
            <td style="color:red;">{{x.maSach}}</td>
            <td style="color:red;">{{x.tenSach}} </td>
            <td style="color:red;">{{x.tenTG}}</td> 
            <td style="color:red;"> {{x.loaiSach}}</td>
            <td style="color:red;">{{x.nhaXB}} </td>
            <td style="color:red;"> {{x.namXB}}</td>
            {% if x.trangThaiSach %}
                    <td style="color:red;">Đã được mượn</td> 
            {% else %}
                    <td style="color:red;"> Có thể mượn</td>
            {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <h3 style="color:red;">Không có dữ liệu nào</h3>
    {% endif %}
</table>
        
 {% endblock %}

 {% block user %} 
 <p><a href="{% url 'logoutUser'  %}"><button>Đăng xuất</button></a></p>
 
 {% endblock %}